/* -----------------
Welcome Landing
----------------- */

body {
    border-top: 5px solid #00466b;
    border-bottom: 5px solid #00466b;
}

.container-home {
    margin: 0px auto;
    width: 500px;
    position: relative;
    top: 12.5%;
}

.container-home h1 {
    font-weight: 700;
    font-family: "Bitter";
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
}

#nav {
    text-align: center;
    margin-top: 40px;
}

#nav a {
    font-weight: 400;
    font-family: "Bitter";
    font-size: 25px;
}

.container-home p {
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    padding: 25px 15px;
    border-top: 2px solid #00466b;
    border-bottom: 2px solid #00466b;
    margin: 40px 0px 80px 0px;
}

.container-home p a {
    font-weight: 700;
}

.container-home p a:hover,
#nav a:hover {
    text-decoration: underline;
    color: #006aab;
}

.container-home .list-container {
    width: 100%;
    overflow: hidden;
}

.list-container ul {
    font-size: 75px;
    list-style: none;
    position: relative;
    float: left;
    left: 50%;
    display: block;
    margin-left: 0px;
}

.list-container ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
    padding: 0px 20px;
}

.list-container ul a {
    color: #333;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

.list-container ul a:hover {
    color: #006aab;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

@media only screen and (max-height: 700px) {
    header {
        border-bottom: none;
    }
}

@media only screen and (max-width: 499px) {
    header {
        border-bottom: none;
    }

    header .intro {
        width: 100%;
    }

    header h1 {
        font-size: 40px;
        margin-top: 10%;
    }

    header p {
        font-size: 15px;
        margin: 50px 0px;
    }

    header ul {
        font-size: 45px;
    }
}

/* -----------------
HCI Bio
----------------- */

#bio-container {
    max-width: 1000px;
    padding: 0px 25px;
    margin: 0px auto;
    /*border: 1px solid black;*/
    top: 6%;
    position: relative;
}

#bio-container a {
    font-weight: bold;
}

.title a:hover,
.bio a:hover {
    text-decoration: underline;
    color: #006aab;
}

#bio-container p {
    font-weight: 300;
}

.title h1 {
    font-family: "Bitter";
    font-weight: 700;
    font-size: 68px;
}

.title h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

.bio {
    padding: 50px 0px;
}

.bio p {
    font-size: 20px;
}

.bio img {
    border-radius: 20px;
    padding-top: 15px;
}

.deets .accordion h4 {
    font-size: 20px;
}

.deets .accordion h5 {
    font-weight: 300;
    font-style: italic;
}

.deets .accordion p {
    font-size: 17px;
}

.deets .accordion .content a:hover {
    text-decoration: underline;
    color: #006aab;
}

.deets .accordion ul {
    padding-left: 25px;
    font-weight: 300;
}

.deets #panel5 .list-container {
    width: 100%;
    overflow: hidden;
}

.deets #panel5 ul {
    font-size: 75px;
    list-style: none;
    position: relative;
    float: left;
    left: 50%;
    display: block;
    margin-left: 0px;
}

.deets #panel5 ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
    padding: 0px 20px;
}

.deets #panel5 ul a {
    color: #333;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

.deets #panel5 ul a:hover {
    color: #006aab;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}
