/* -----------------
General
----------------- */

.container {
    max-width: 980px;
    padding: 0px 25px;
    margin: 0px auto;
    top: 6%;
    position: relative;
}

/* -----------------
Homepage
----------------- */

body {
    border-top: 5px solid #00466b;
}

.container-home {
    margin: 0px auto;
    width: 500px;
    position: relative;
    top: 12.5%;
}

.container-home h1 {
    font-weight: 700;
    font-family: "Bitter";
    font-size: 70px;
    text-align: center;
    margin-bottom: 0px;
}

.container-home #name {
    color: #006aab;
}

.container-home #email {
    text-align: center;
    margin-top: 35px;
    font-size: 27.5px;
    font-style: italic;
    font-weight: 300;
}

.home-body {
    padding: 25px 27.5px;
    border-top: 2px solid #00466b;
    border-bottom: 2px solid #00466b;
    margin: 35px 0px 70px 0px;
}

.home-body nav {
    margin-bottom: 40px;
    margin-top: 20px;
}

.home-body .nav-container {
    text-align: center;
}

.home-body nav a {
    color: #333;
    font-style: italic;
    font-family: "Bitter";
    font-size: 20px;
    border: 1px dotted #333;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0px 10px;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

.home-body nav a:hover {
    background-color: #006aab;
    border: 1px dotted #006aab;
    color: white;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

.home-body p {
    font-weight: 300;
    font-size: 19px;
    text-align: center;
    margin: 0px;
}

.home-body p a {
    font-weight: 700;
}

.home-body p a:hover {
    text-decoration: underline;
    color: #006aab;
}

.container-home .list-container {
    width: 100%;
    overflow: hidden;
}

.list-container ul {
    font-size: 75px;
    list-style: none;
    position: relative;
    float: left;
    left: 50%;
    display: block;
    margin-left: 0px;
}

.list-container ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
    padding: 0px 20px;
}

.list-container ul a {
    color: #333;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

.list-container ul a:hover {
    color: #006aab;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

@media only screen and (max-width: 499px) {
    .container-home {
        width: 100%;
        top: 6%;
    }

    .container-home h1 {
        font-size: 40px;
        margin-top: 10%;
    }

    .container-home #email {
        font-size: 20px;
    }

    .home-body {
        margin-bottom: 50px;
    }

    .home-body nav a {
        font-size: 17.5px;
    }

    .container-home p {
        font-size: 15px;
        margin: 25px 0px;
    }

    .list-container ul {
        font-size: 45px;
    }
}

/* -----------------
Portfolio Page
----------------- */

#back {
    font-size: 40px;
    color: #333;
    display: block;
    margin: 20px 45px;
    position: fixed;
}

#back:hover {
    color: #006aab;
}

#work article {
    margin-bottom: 50px;
}

#work h1 {
    font-family: "Bitter";
    border-bottom: 2px solid #00466b;
}

#work img {
    max-width: 800px;
    margin: 50px auto;
    border: 1px solid #333;
    border-radius: 3px;
    display: block;
    box-shadow: 0px 0px 5px 1px #aaa;
}

#work p {
    max-width: 800px;
    margin: 0px auto;
    font-weight: 300;
    font-size: 19px;
}

/* -----------------
HCI Bio - Had to do this for a class
----------------- */

#bio-container {
    max-width: 1000px;
    padding: 0px 25px;
    margin: 0px auto;
    top: 6%;
    position: relative;
}

#bio-container a {
    font-weight: bold;
}

.title a:hover,
.bio a:hover {
    text-decoration: underline;
    color: #006aab;
}

#bio-container p {
    font-weight: 300;
}

.title h1 {
    font-family: "Bitter";
    font-weight: 700;
    font-size: 68px;
}

.title h3 {
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}

.bio {
    padding: 50px 0px;
}

.bio p {
    font-size: 20px;
}

.bio img {
    border-radius: 20px;
    padding-top: 15px;
}

.deets .accordion h4 {
    font-size: 20px;
}

.deets .accordion h5 {
    font-weight: 300;
    font-style: italic;
}

.deets .accordion p {
    font-size: 17px;
}

.deets .accordion .content a:hover {
    text-decoration: underline;
    color: #006aab;
}

.deets .accordion ul {
    padding-left: 25px;
    font-weight: 300;
}

.deets #panel5 .list-container {
    width: 100%;
    overflow: hidden;
}

.deets #panel5 ul {
    font-size: 75px;
    list-style: none;
    position: relative;
    float: left;
    left: 50%;
    display: block;
    margin-left: 0px;
}

.deets #panel5 ul li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
    padding: 0px 20px;
}

.deets #panel5 ul a {
    color: #333;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}

.deets #panel5 ul a:hover {
    color: #006aab;
    transition: .08s;
    -webkit-transition: .08s;
    -moz-transition: .08s;
    -ms-transition: .08s;
    -o-transition: .08s;
}
