{% extends "base.html" %}
{% block content %}
<a href="{{url_for('index')}}" class="ion-arrow-left-c" id="back"></a>

<div id="bio-container">
  <section class="title">
    <h1>Billy Ceskavich</h1>
    <h3>Engagement Fellow at <a href="http://www.syr.edu/" target="_blank">Syracuse University</a>. Connector at <a href="http://idea.syr.edu/" target="_blank">IDEA</a>. All around enthusiastic guy.</h3>
  </section>

  <section class="row bio">
    <div class="large-4 medium-4 columns">
      <img src="{{url_for('static', filename='img/headshot.jpg')}}" />
    </div>

    <div class="large-8 medium-8 columns">
      <p>{{bio}}</p>
    </div>
  </section>
</div>
{% endblock %}
