{% extends "base.html" %}
{% block content %}
<a href="{{url_for('index')}}" class="ion-arrow-left-c" id="back"></a>

<div id="bio-container">
  <section class="title">
    <h1>Billy Ceskavich</h1>
    <h3>Engagement Fellow at <a href="http://www.syr.edu/" target="_blank">Syracuse University</a>. Connector at <a href="http://idea.syr.edu/" target="_blank">IDEA</a>. All around enthusiastic guy.</h3>
  </section>

  <section class="row bio">
    <div class="large-4 medium-4 columns">
      <img src="{{url_for('static', filename='img/headshot.jpg')}}" />
    </div>

    <div class="large-8 medium-8 columns">
      <p>Hey there, I’m <strong>Billy</strong>. I’m a first year Engagement Fellow at Syracuse University, pursuing my Masters in Information Management in the iSchool. On campus I work with IDEA, building out the Syracuse tech community, and the NEXIS Lab, developing data visualizations. I’m passionate about consumer technology, startups of all sizes, and product management. Oh, and in a past life, I almost became a slave to the entertainment industry!</p>
    </div>
  </section>
</div>
{% endblock %}
