{% extends "base.html" %}
{% block content %}
<div id="bio-container">
  <section class="title">
    <h1>Billy Ceskavich</h1>
    <h3>Engagement Fellow at <a href="http://www.syr.edu/" target="_blank">Syracuse University</a>. Connector at <a href="http://idea.syr.edu/" target="_blank">IDEA</a>. All around enthusiastic guy.</h3>
  </section>

  <section class="row bio">
    <div class="large-4 medium-4 columns">
      <img src="{{url_for('static', filename='img/headshot.jpg')}}" />
    </div>

    <div class="large-8 medium-8 columns">
      <p>Hey there, I’m <strong>Billy</strong>. I’m a first year Engagement Fellow at Syracuse University, pursuing my Masters in Information Management in the iSchool. On campus I work with IDEA, building out the Syracuse tech community, and the NEXIS Lab, developing data visualizations. I’m passionate about consumer technology, startups of all sizes, and product management. Oh, and in a past life, I almost became a slave to the entertainment industry!</p>

      <p>Check out below for some more information on my past work and where I see myself heading next!</p>
    </div>
  </section>

  <section class="deets">
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#panel1"><i class="ion-university">&nbsp;&nbsp;</i>Education</a>
        <div id="panel1" class="content">
          <h4><a href="http://ischool.syr.edu/" target="_blank">Syracuse University iSchool</a> - <em>Engagement Fellow &amp; Master's Candidate</em></h4>
          <h5>August 2014 - Present</h5>
          <p>I'm a first semester graduate student at Syracuse this fall. I’m pursuing a degree in Information Management and look forward to diving deep into the iSchool community.</p>

          <h4><a href="http://syr.edu/" target="_blank">Syracuse University</a> - <em>Bachelor of Science in Information Management &amp; Political Science</em></h4>
          <h5>Graduated May 2014</h5>
          <p>I also just graduated from Syracuse in May 2014 with my Bachelor degree. My undergraduate experiences set a great foundation for both my career and future studies.</p>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel2"><i class="ion-briefcase">&nbsp;&nbsp;</i>Work Experience</a>
        <div id="panel2" class="content">
          <h4><a href="http://idea.syr.edu/" target="_blank">IDEA</a> - <em>Connector</em></h4>
          <h5>August 2014 - Present</h5>
          <p>IDEA works to connect Syracuse students with the local entrepreneurial and tech communities. I do a variety of work with the group and am the cohost of #IDEAChat, a bi-monthly podcast with entrepreneurs around the world.</p>

          <h4><a href="http://www.hackupstate.com/" target="_blank">Hack Upstate</a> - <em>Fellow</em></h4>
          <h5>June 2014 - Present</h5>
          <p>I’m one of two student fellows for Hack Upstate, a bi-annual hackathon held in downtown Syracuse. I am helping organize the event and run technical consulting for both partners and attendees.</p>

          <h4><a href="http://www.starshipnexis.com/" target="_blank">NEXIS</a> - <em>Student Researcher</em></h4>
          <h5>January 2014 - Present</h5>
          <p>As a member of this student research lab, I build data visualizations and interactive websites covering a variety of projects.</p>

          <h4><a href="https://www.twitter.com/about" target="_blank">Twitter</a> - <em>Technical Program Management Intern</em></h4>
          <h5>June 2014 - August 2014</h5>
          <p>At Twitter I worked as both a program and product manager in their Consumer Engineering and Product group, shipping features on the Search team. My summer at Twitter was foundational, providng me with the skills and connections necessary to further pursue work in the product management space.</p>

          <h4><a href="http://universityunion.syr.edu/" target="_blank">University Union</a> - <em>President (2014), Director of Performing Arts (2013), Member (2011-2012)</em></h4>
          <h5>September 2010 - May 2014</h5>
          <p>UU, the events programming board here at SU, was a huge part of my undergraduate career. I helped program hundreds of events on campus, learned to work in a fast-paced professional environment, and also saw the darker side of the entertainment and events industry.</p>

          <h4><a href="https://www.evernote.com/" target="_blank">Evernote</a> - <em>Developer Relations Intern</em></h4>
          <h5>June 2013 - August 2013</h5>
          <p>At Evernote I worked on the Platform team to run external communications and connect with developers interested in the Evernote API. This experience is what got me hooked on the startup world.</p>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel3"><i class="ion-help-circled">&nbsp;&nbsp;</i>What's Next?</a>
        <div id="panel3" class="content">
          <p>I try to live six months at a time: so much can change in a year that I have found making firm plans for a year ahead is seldom realistic. The next six months are filled with exciting classes and work opportunities—I can’t wait to get going here at the iSchool!</p>

          <p>And, while I may not have firm goals set, I do have a long term vision for where I would like to see myself progress in the coming year.</p>

          <ul>
            <li><strong>Technical Acumen</strong> - I hope to further improve my technical acumen through my studies here at the iSchool.</li>
            <li><strong>Career Development</strong> - After my time at Twitter, I want to continue to pursue a career in product management.</li>
            <li><strong>New Campus Connections</strong> - With most of my undergraduate friends gone, I hope to make new friends and connections among the graduate students here in Syracuse.</li>
          </ul>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel4"><i class="ion-play">&nbsp;&nbsp;</i>Hobbies</a>
        <div id="panel4" class="content">
          <p>All work and no play makes Billy a dull boy. In short, while I love my studies and my work, I also try to have fun and get some leisure time in on a weekly basis. Some of my favorite side activities include:</p>
          <ul>
            <li>Reading anything - blogs, journals, novels, non-fiction</li>
            <li>Skiing (winter) &amp; Sailing (summer)</li>
            <li>Hiking</li>
            <li>Cycling</li>
          </ul>
        </div>
      </dd>
      <dd class="accordion-navigation">
        <a href="#panel5"><i class="ion-chatbubbles">&nbsp;&nbsp;</i>Contact</a>
        <div id="panel5" class="content">
          <p>I’d love to stay in touch outside of class! Below are some the best ways to contact me or follow my world.</p>
          <div class="list-container">
            <ul>
              <li><a class="ion-email" href="mailto:bceskavich@gmail.com"></a></li>
              <li><a class="ion-social-twitter" href="https://twitter.com/ceskavich"></a></li>
              <li><a class="ion-camera" href="https://instagram.com/ceskavich"></a></li>
              <li><a class="ion-social-linkedin" href="https://www.linkedin.com/in/ceskavich"></a></li>
              <li><a class="ion-social-github" href="https://github.com/bceskavich/"></a></li>
            </ul>
          </div>
        </div>
      </dd>
    </dl>
  </section>
</div>
{% endblock %}
