{% extends "base.html" %}
{% block content %}
<div class="container-home">

  <h1>Hey, it's <span id="name">Billy!</span></h1>
  <p id="email">bceskavich <strong>[at]</strong> gmail.com</p>

  <div class="home-body">
    <nav class="row">
      <div class="nav-container">
        <a href="{{url_for('about')}}">About</a>
        <a href="{{url_for('work')}}">Work</a>
      </div>
    </nav>

    <p>Engagement Fellow at the <a href="http://ischool.syr.edu/" target="_blank">Syracuse University iSchool</a>. Software developer at <a href="http://bits.ischool.syr.edu/" target="_blank">BITS Lab</a>. Former intern at <a href="https://twitter.com/about/" target="_blank">Twitter</a> &amp; <a href="https://www.evernote.com" target="_blank">Evernote</a>. Sock enthusiast.</p>
  </div>

  <div class="list-container">
    <ul>
      <li><a class="ion-social-github" href="https://github.com/bceskavich/"></a></li>
      <li><a class="ion-social-linkedin" href="https://www.linkedin.com/in/ceskavich"></a></li>
      <li><a class="ion-social-twitter" href="https://twitter.com/ceskavich"></a></li>
      <li><a class="ion-camera" href="https://instagram.com/ceskavich"></a></li>
    </ul>
  </div>
</div>
{% endblock %}
