{% extends "base.html" %}
{% block content %}
<div class="container-home">

  <h1>Hey, it's <span id="name">Billy!</span></h1>
  <p id="email">billy <strong>[at]</strong> ceskavich.com</p>

  <div class="home-body">
    <nav class="row">
      <div class="nav-container">
        <a href="about.html">About</a>
        <a href="work.html">Work</a>
      </div>
    </nav>

    <p>Engagement Fellow at the <a href="http://ischool.syr.edu/" target="_blank">Syracuse University iSchool</a>. Mover and shaker at <a href="http://idea.syr.edu/" target="_blank">IDEA Syracuse</a> & <a href="http://www.hackupstate.com/" target="_blank">Hack Upstate</a>. Former product intern at <a href="https://twitter.com/about/" target="_blank">Twitter</a> &amp; <a href="https://www.evernote.com" target="_blank">Evernote</a>. Sock enthusiast.</p>
  </div>

  <div class="list-container">
    <ul>
      <li><a class="ion-social-github" href="https://github.com/bceskavich/"></a></li>
      <li><a class="ion-social-linkedin" href="https://www.linkedin.com/in/ceskavich"></a></li>
      <li><a class="ion-social-twitter" href="https://twitter.com/ceskavich"></a></li>
      <li><a class="ion-camera" href="https://instagram.com/ceskavich"></a></li>
    </ul>
  </div>
</div>
{% endblock %}
