{% extends "base.html" %}
{% block content %}
<a href="{{url_for('index')}}" class="ion-arrow-left-c" id="back"></a>

<div class="container" id="work">
  <article>
    <h1>Hack Upstate with AT&T</h1>
    <img src="{{url_for('static', filename='img/hu.png')}}" />
    <p>I’ve been interning with <a href="http://www.hackupstate.com/" target="_blank">Hack Upstate</a> since June, wearing a ton of different hats to get the event going this fall. Part of that effort has been building out their web and digital content. I’ve built out and designed all content for our two partner hackathons: <a href="http://attcny.hackupstate.com/" target="_blank">#ATTCNY</a> and <a href="http://attwny.hackupstate.com/" target="_blank">#ATTWNY</a>. I’ve also contributed to the main Hack Upstate homepage.</p>
  </article>

  <article>
    <h1>Bulletin</h1>
    <img src="{{url_for('static', filename='img/bulletin.png')}}" />
    <p><a href="http://bulletin.herokuapp.com/" target="_blank">Bulletin</a> was part of an independent study I did last semester on news APIs. I built a web app that scrapes the web for content related to stories saved in a user’s Pocket account. It was one of my first forays into Flask, and I also worked with <a href="http://developer.nytimes.com/docs" target="_blank">several</a> <a href="https://apiportal.washingtonpost.com/api/trove" target="_blank">different</a> news APIs to get it going. You can see the <a href="https://github.com/bceskavich/bulletin" target="_blank">source on Github</a> too.</p>
  </article>

  <article>
    <h1>Grov</h1>
    <img src="{{url_for('static', filename='img/grov.png')}}" />
    <p>A personal project I worked on for the iSchool's NEXIS, <a href="http://grov.ceskavich.com/" target="_blank">Grov</a> uses D3 to render a Twitter network visualization. A user authenticates with Twitter, and then the app saves their follower/following network to a NoSQL database. On the <a href="http://grov.ceskavich.com/view" target="_blank">view page</a>, I put together an (admittedly clunky) network graph, where larger nodes are shared followers among the users who have logged in. Being one of my first attempts with D3, the visualization is a bit bloated. Still, it was great fun! <a href="https://github.com/bceskavich/grov" target="_blank">Source on Github</a>.</p>
  </article>

  <article>
    <h1>BE Wise</h1>
    <img src="{{url_for('static', filename='img/bewise.png')}}" />
    <p>Working with Syracuse University’s <a href="http://studentactivities.syr.edu/" target="_blank">Office of Student Activities</a>, I created a demo of a <a href="http://bewisecalculator.herokuapp.com/" target="_blank">mobile web app on safe drinking</a>. Students can calculate their estimated BAC level and see helpful safety resources.</p>
  </article>
</div>
{% endblock %}
