{% extends "base.html" %}
{% block content %}
<a href="{{url_for('index')}}" class="ion-arrow-left-c" id="back"></a>

<div class="container" id="work">

<h1>My Work</h1>

  {% for item in work_list %}
  <article>
    <h2>{{item['title']}}</h2>
    <a href="{{item['main_link']}}"><img src="{{item['image_name']}}" /></a>
    <p>{{item['description']}}</p>

    <br />

    <p>
    Links -
    {% for tag in item['tags'] %}
    <a href="{{tag['tag_url']}}" target="_blank">{{tag['tag_name']}}</a>
    {% endfor %}
  </article>
  {% endfor %}
</div>
{% endblock %}
