{% extends "base.html" %}
{% block content %}
<a href="{{url_for('index')}}" class="ion-arrow-left-c" id="back"></a>

<div class="container" id="work">

<h1>My Work</h1>

  {% for item in work_list %}
  <article>
    <h2>{{item['title']}}</h2>
    <a href="{{item['main_link']}}"><img src="{{item['image_name']}}" /></a>
    <p>{{item['description']}}</p>

    <br />

    <p>
    Tags -
    {% for tag in item['tags'] %}
    <a href="{{tag['tag_url']}}" target="_blank">{{tag['tag_name']}}</a>
    {% endfor %}
  </article>
  {% endfor %}

  <!--<h1><i class="ion-android-developer"></i>&nbsp;&nbsp;Development &amp; Design&nbsp;&nbsp;<i class="ion-android-developer"></i></h1>
  <article>
    <h2>Hack Upstate with AT&amp;T</h2>
    <img src="{{url_for('static', filename='img/hu.jpg')}}" />
    <p>I’ve been interning with <a href="http://www.hackupstate.com/" target="_blank">Hack Upstate</a> since June, wearing a ton of different hats to get the event going this fall. A big part of that effort has been building out our web and digital content. I've been primarily responsible for designing and building for our two partner hackathons: <a href="http://attwny.hackupstate.com/" target="_blank">#ATTWNY</a> and <a href="http://attcny.hackupstate.com/" target="_blank">#ATTCNY</a>. I’ve also contributed to the main Hack Upstate homepage.</p>
  </article>

  <article>
    <h2>Twitter</h2>
    <img src="{{url_for('static', filename='img/twitter.png')}}" />
    <p>As a Technical Program Manager intern at Twitter, I worked with their consumer products engineering group to deliver updates to <a href="http://search.twitter.com/" target="_blank">Twitter Search</a> for web. I can't speak to the specific work I did (yet!), but it was a fantastic learning experience in the realm of consumer product management.</p>
  </article>

  <article>
    <h2>Compas</h2>
    <img src="{{url_for('static', filename='img/compas.jpg')}}" />
    <p>Working with two co-founders, I built <a href="http://www.compasapp.com/" target="_blank">Compas</a>, a CRM geared towards college students and organizations. It was my first startup adventure, and as CEO I guided us thru a tumultuous year of business. We even won a <a href="http://idea.syr.edu/emerging-talk-prize-winners/" target="_blank">couple</a> of <a href="http://idea.syr.edu/su-app-challenge-winners/" target="_blank">awards</a>. In August 2014 we decided to shut down Compas and move on to other endeavors. From start to finish it was a wild ride and I learned a lot in the process. The original app was built using Ruby on Rails and the source is still <a href="https://github.com/bceskavich/compasapp" target="_blank">on my Github</a>.</p>
  </article>

  <article>
    <h2>Bulletin</h2>
    <img src="{{url_for('static', filename='img/bulletin.png')}}" />
    <p><a href="http://bulletin.herokuapp.com/" target="_blank">Bulletin</a> was part of an independent study I did last semester on news APIs. I built a web app that scrapes the web for content related to stories saved in a user’s Pocket account. It was one of my first forays into Flask, and I also worked with <a href="http://developer.nytimes.com/docs" target="_blank">several</a> <a href="https://apiportal.washingtonpost.com/api/trove" target="_blank">different</a> news APIs to get it going. You can see the <a href="https://github.com/bceskavich/bulletin" target="_blank">source on Github</a> too.</p>
  </article>

  <article>
    <h2>Grov</h2>
    <img src="{{url_for('static', filename='img/grov.jpg')}}" />
    <p>A personal project I worked on for the iSchool's NEXIS, <a href="http://grov.ceskavich.com/" target="_blank">Grov</a> uses D3 to render a Twitter network visualization. A user authenticates with Twitter, and then the app saves their follower/following network to a NoSQL database. On the <a href="http://grov.ceskavich.com/view" target="_blank">view page</a>, I put together an (admittedly clunky) network graph, where larger nodes are shared followers among the users who have logged in. Being one of my first attempts with D3, the visualization is a bit bloated. Still, it was great fun! <a href="https://github.com/bceskavich/grov" target="_blank">Source on Github</a>.</p>
  </article>

  <article>
    <h2>BE Wise</h2>
    <img src="{{url_for('static', filename='img/bewise.png')}}" />
    <p>Working with Syracuse University’s <a href="http://studentactivities.syr.edu/" target="_blank">Office of Student Activities</a>, I created a demo of a <a href="http://bewisecalculator.herokuapp.com/" target="_blank">mobile web app on safe drinking</a>. Students can calculate their estimated BAC level and see helpful safety resources.</p>
  </article>

  <h1><i class="ion-mic-c"></i>&nbsp;&nbsp;Communications & Events&nbsp;&nbsp;<i class="ion-mic-c"></i></h1>
  <article>
    <h2>University Union</h2>
    <img src="{{url_for('static', filename='img/mack.jpg')}}" />
    <p>I worked with <a href="http://universityunion.syr.edu/" target="_blank">University Union</a> — SU’s official events programming board — throughout my time as an undergrad. I also worked as a Board Director in my junior year and lead as President my senior year.  Through my tenure, UU produced the <a href="http://www.dailyorange.com/2013/09/jam-packed-juice-jam-sees-success-with-first-ever-festival-format/" target="_blank">first student-run music festival in the US</a>, routed <a href="http://dailyorange.com/2013/11/and-we-danced-macklemore-ryan-lewis-entertain-students-in-high-energy-performance-at-carrier-dome-show/" target="_blank">national tours</a> to campus, and sold out numerous events. It was a pinnacle of my time at SU, and I gained a lot of experience in the process!</p>
  </article>

  <article>
    <h2>Evernote</h2>
    <img src="{{url_for('static', filename='img/devcup.png')}}" />
    <p>During summer 2013 I was a developer relations intern at <a href="https://www.evernote.com/" target="_blank">Evernote</a>. I juggled a lot of responsibilities, including web content updates, platform communications, and events. My big contribution was coordinating the <a href="https://www.hackerleague.org/hackathons/evernote-devcup-2013/" target="_blank">Evernote Devcup</a> (now the <a href="https://platformawards.evernote.com/" target="_blank">Platform Awards</a>), an annual competition among products that work with the Evernote API. This was my first experience in Silicon Valley—life changing to say the least!</p>
  </article>-->
</div>
{% endblock %}
